body {
    background-color: #000;
    font-family: 'Work Sans', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    color: white;
    padding-top: 104px;
}

a {
    color: orange;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif !important;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 10px;
}

#selected-link {
    border-bottom: 2px solid orange;
    padding-bottom: 3px;
}

.photos {
    text-align: center;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-end;
}

.photos img, .list img {
    filter: invert(1);
}

.photo {
   /* display: inline-block; */
    width:  220px;
    margin: 10px;
    vertical-align: bottom;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: all .2s;
    z-index: 100;
}

.photo:hover .overlay {
   opacity: .8;
}

.photo h2 {
    position: absolute;
    left: -20px;
    top: -20px;
    font-size: 32px;
    text-align: left;   
}

.large {
    width: 400px;
}

.photo p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}

footer {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
    color: gray;
}
 
.list {
    max-width: 640px;
    margin: 0 auto ;
    margin-top: 120px;
}

.list a img {
    opacity: 0;
    position: fixed;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: opacity .2s;
}

.list a {
    font-size: 32px;
    color: whitesmoke;
    font-weight: 400;
  
}

.list a:after {
    content: ' /';
}

.list a:last-child::after {
    content: '';
}

.list a:hover img {
    opacity: 1;
}


